<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] 5ch app</title>
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="fivebody">
        <main role="main" class="text-center">
            @RenderBody()
        </main>
    <script src="~/jq/jquery/dist/jquery.min.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/myscripts/Authorizationscripts.js" asp-append-version="true"></script>
    <script src="~/myscripts/Eventsscript.js" asp-append-version="true"></script>
    <script src="~/myscripts/Pagesscript.js" asp-append-version="true"></script>
    <script src="~/myscripts/Sortingscripts.js" asp-append-version="true"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
