$darkred: rgb(71, 10, 10);
$softbrown:rgb(90, 45, 17);
$creambrule:rgb(240,220,150);
$softyellow:rgb(250,160,60);
$softpink: #bf3330;
$softred:#ffb473;
$soft1brown:rgba(170,99,18,100);
$softreda: rgba(255,180,115,50);


.pointer{
    &:hover{
        cursor:pointer;
        background-color:mix(white,$softpink,10%);
    }
}
.pointerrow{
    &:hover{
        cursor:pointer;
        background-color:mix($softred,white,20%);
    }
}

.darkredclass{
    background:$darkred;
}


.five-header-ul{
    @media (max-width: 992px) and (min-width:768px){
        width:33%;
        
    }
}

.five-header-search {
    @media (max-width: 992px) and (min-width:768px) {
        width: 25%;
        margin-bottom: 0;
    }
}

.five-header-btn {
    @media (max-width: 992px) and (min-width:768px) {
        padding-left:10px;
    }
}

.faq-btn-collapse{
    &:hover{
        background-color:$softred;
    }

    display:inline-block;
    border-radius:5px;
}

.faq-div {
    &hover{
        background-color:$softpink;
    }
    @media(min-width:575px) {
        .faq-ul-collapse {
            display: flex;
            flex-basis: auto;
        }

        .faq-btn-collapse {
            display: none;
        }
        &hover{
            background-color:none;
        }
        
        
    }
}

svg {
    stroke: $darkred;
    stroke-width: 0.5px;
    border-radius: 5px;
    background-color:$softred;
    &:hover {
        background-color: $creambrule;
    }
}


.darkredtext{
    color:$darkred;
}

.softpinkclass{
    background:$softpink;
}

.softredtext {
    color: $softred;
}

.navitem{
    border-radius:5px;
    @media (max-width:575px){
        width:50%;
        display:inline-block;
        
    }
}
.navitem:hover {
    background: #f1aeb5;
}

.activenavitem {
    background: #f1aeb5;
}

.faqlink {
    font-weight: 700;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    &:hover{
        color:$darkred;
    }
    &span {
        font-weight: 700;
    }
}

.fivebody {
    height: 100%;
    background-image: radial-gradient($creambrule,rgb(255, 244, 204));
    background-attachment: fixed;
}

.activetab{
  display: block;
}

.disactivetab{
  display: none;
}

.faq-minilink {
    color: $darkred;
    cursor: pointer;

    &:hover {
        color: $creambrule;
        cursor: pointer;
    }

    &:focus {
        color: $creambrule;
    }
}

.creambrule-link{
    color:$creambrule;
    &:hover{
        color:$softbrown;
    }
    &:focus{
        color:$softbrown;
    }
}


.darkred-btn{
    background:$darkred;
    color:$creambrule;
    &:hover{
        background:$softyellow;
    }

}

.creambrule-text{
    color:$creambrule;
}

.headerbtn{
    background:$softyellow;
    color:$darkred;
    &:hover{
        background:$softbrown;
    }
}

.withouth-botalign{
    vertical-align:middle;
}

.without-left-margin{
    margin-left:0px;
}

.info-select {
    border-color: $softyellow;
    border-left-color: $soft1brown;
    border-top-color: $soft1brown;
    font: inherit;
    height: 30px;
    border-radius: 5px;
    border-width: 2px;

    &:hover {
        border-color: mix(white,$softyellow,20%);
        border-left-color: mix(white,$soft1brown,20%);
        border-top-color: mix(white,$soft1brown,20%);
    }
}

.info-input{
    border-color:$softyellow;
    border-radius:5px;
    &:hover{
        border-color:$softred;
    }
    &:focus{
        border-color:$softred;
       
    }
}
.hide-form{
    display:none;
}

.faq-ul-minilink-collapse{
    font:oblique;
}

.login-border{
    border:solid;
    border-width:5px;
    border-radius:5px;
    border-color:$darkred;
}

.without-disc {
    color: $softpink;
    list-style:none;
    list-style-position:inside;
}
