$darkred: rgb(71, 10, 10);
$softbrown:rgb(90, 45, 17);
$creambrule:rgb(240,220,150);
$softyellow:rgb(250,160,60);
$softpink: #bf3330;
$softred:#ffb473;

html{
    height:100%;
}
.darkredclass{
    background:$darkred;
}


.five-header-ul{
    @media (max-width: 992px) and (min-width:768px){
        width:33%;
        
    }
}

.five-header-search {
    @media (max-width: 992px) and (min-width:768px) {
        width: 25%;
        margin-bottom: 0;
    }
}

.five-header-btn {
    @media (max-width: 992px) and (min-width:768px) {
        padding-left:10px;
    }
}
.faq-div {
    @media(min-width:575px) {
        .faq-ul-collapse {
            display: flex;
            flex-basis: auto;
        }

        .faq-btn-collapse {
            display: none;
        }

        
        
    }
}

svg{
    stroke:$darkred;
    stroke-width:0.5px;
}


.darkredtext{
    color:$darkred;
}

.softpinkclass{
    background:$softpink;
}

.softredtext {
    color: $softred;
}

.navitem{
    border-radius:5px;
    @media (max-width:575px){
        width:50%;
        display:inline-block;
        
    }
}
.navitem:hover {
    background: #f1aeb5;
}

.activenavitem {
    background: #f1aeb5;
}

.faqlink {
    font-weight: 700;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    &:hover{
        color:$darkred;
    }
    &span {
        font-weight: 700;
    }
}

.fivebody{
    height: 100%;
    background: linear-gradient($creambrule,rgb(255, 244, 204)) no-repeat;
    background-attachment: fixed;
}

.activetab{
  display: block;
}

.disactivetab{
  display: none;
}

.faq-minilink {
    color: $darkred;

    &:hover {
        color: $creambrule;
    }

    &:focus {
        color: $creambrule;
    }
}

.creambrule-link{
    color:$creambrule;
    &:hover{
        color:$softbrown;
    }
    &:focus{
        color:$softbrown;
    }
}


.darkred-btn{
    background:$darkred;
    color:$creambrule;
    &:hover{
        background:$softyellow;
    }

}

.creambrule-text{
    color:$creambrule;
}

.headerbtn{
    background:$softyellow;
    color:$darkred;
    &:hover{
        background:$softbrown;
    }
}

.withouth-botalign{
    vertical-align:middle;
}



