.pointer:hover {
  cursor: pointer;
  background-color: #c54745;
}

.pointerrow:hover {
  cursor: pointer;
  background-color: #fff0e3;
}

.darkredclass {
  background: #470a0a;
}

@media (max-width: 992px) and (min-width: 768px) {
  .five-header-ul {
    width: 33%;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .five-header-search {
    width: 25%;
    margin-bottom: 0;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .five-header-btn {
    padding-left: 10px;
  }
}

.faq-btn-collapse {
  display: inline-block;
  border-radius: 5px;
}
.faq-btn-collapse:hover {
  background-color: #ffb473;
}

.faq-divhover {
  background-color: #bf3330;
}
@media (min-width: 575px) {
  .faq-div .faq-ul-collapse {
    display: flex;
    flex-basis: auto;
  }
  .faq-div .faq-btn-collapse {
    display: none;
  }
  .faq-divhover {
    background-color: none;
  }
}

svg {
  stroke: #470a0a;
  stroke-width: 0.5px;
  border-radius: 5px;
  background-color: #ffb473;
}
svg:hover {
  background-color: #f0dc96;
}

.darkredtext {
  color: #470a0a;
}

.softpinkclass {
  background: #bf3330;
}

.softredtext {
  color: #ffb473;
}

.navitem {
  border-radius: 5px;
}
@media (max-width: 575px) {
  .navitem {
    width: 50%;
    display: inline-block;
  }
}

.navitem:hover {
  background: #f1aeb5;
}

.activenavitem {
  background: #f1aeb5;
}

.faqlink {
  font-weight: 700;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.faqlink:hover {
  color: #470a0a;
}
.faqlinkspan {
  font-weight: 700;
}

.fivebody {
  height: 100%;
  background-image: radial-gradient(#f0dc96, #fff4cc);
  background-attachment: fixed;
}

.activetab {
  display: block;
}

.disactivetab {
  display: none;
}

.faq-minilink {
  color: #470a0a;
  cursor: pointer;
}
.faq-minilink:hover {
  color: #f0dc96;
  cursor: pointer;
}
.faq-minilink:focus {
  color: #f0dc96;
}

.creambrule-link {
  color: #f0dc96;
}
.creambrule-link:hover {
  color: #5a2d11;
}
.creambrule-link:focus {
  color: #5a2d11;
}

.darkred-btn {
  background: #470a0a;
  color: #f0dc96;
}
.darkred-btn:hover {
  background: #faa03c;
}

.creambrule-text {
  color: #f0dc96;
}

.headerbtn {
  background: #faa03c;
  color: #470a0a;
}
.headerbtn:hover {
  background: #5a2d11;
}

.withouth-botalign {
  vertical-align: middle;
}

.without-left-margin {
  margin-left: 0px;
}

.info-select {
  border-color: #faa03c;
  border-left-color: #aa6312;
  border-top-color: #aa6312;
  font: inherit;
  height: 30px;
  border-radius: 5px;
  border-width: 2px;
}
.info-select:hover {
  border-color: #fbb363;
  border-left-color: #bb8241;
  border-top-color: #bb8241;
}

.info-input {
  border-color: #faa03c;
  border-radius: 5px;
}
.info-input:hover {
  border-color: #ffb473;
}
.info-input:focus {
  border-color: #ffb473;
}

.hide-form {
  display: none;
}

.faq-ul-minilink-collapse {
  font: oblique;
}

.login-border {
  border: solid;
  border-width: 5px;
  border-radius: 5px;
  border-color: #470a0a;
}

.without-disc {
  color: #bf3330;
  list-style: none;
  list-style-position: inside;
}

.eventimage {
  display: inline-block;
  width: 512px;
  height: 288px;
}

.modalevent {
  max-width: 1000px;
}

@media (max-width: 999px) {
  .modalimgcont {
    display: block;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///D:/programs/RestfulApiVisualCode/wwwroot/scss/main.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAWI;EACI;EACA;;;AAIJ;EACI;EACA;;;AAIR;EACI,YAxBM;;;AA6BN;EADJ;IAEQ;;;;AAMJ;EADJ;IAEQ;IACA;;;;AAKJ;EADJ;IAEQ;;;;AAIR;EAKI;EACA;;AALA;EACI,kBA7CC;;;AAqDL;EACI,kBAvDG;;AAyDP;EACI;IACI;IACA;;EAGJ;IACI;;EAEJ;IACI;;;;AAOZ;EACI,QA/EM;EAgFN;EACA;EACA,kBA7EK;;AA8EL;EACI,kBAlFI;;;AAuFZ;EACI,OA1FM;;;AA6FV;EACI,YA1FO;;;AA6FX;EACI,OA7FK;;;AAgGT;EACI;;AACA;EAFJ;IAGQ;IACA;;;;AAIR;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AACA;EACI,OA5HE;;AA8HN;EACI;;;AAIR;EACI;EACA;EACA;;;AAGJ;EACE;;;AAGF;EACE;;;AAGF;EACI,OAlJM;EAmJN;;AAEA;EACI,OApJI;EAqJJ;;AAGJ;EACI,OAzJI;;;AA6JZ;EACI,OA9JQ;;AA+JR;EACI,OAjKG;;AAmKP;EACI,OApKG;;;AAyKX;EACI,YA3KM;EA4KN,OA1KQ;;AA2KR;EACI,YA3KI;;;AAgLZ;EACI,OAlLQ;;;AAqLZ;EACI,YArLQ;EAsLR,OAzLM;;AA0LN;EACI,YA1LG;;;AA8LX;EACI;;;AAGJ;EACI;;;AAGJ;EACI,cArMQ;EAsMR,mBAnMQ;EAoMR,kBApMQ;EAqMR;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;;AAIR;EACI,cArNQ;EAsNR;;AACA;EACI,cAtNC;;AAwNL;EACI,cAzNC;;;AA6NT;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;EACA,cA9OM;;;AAiPV;EACI,OA9OO;EA+OP;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;;;AAKA;EADJ;IAEQ%22%7D */