@model RestfulApiVisualCode.ViewModels.LoginModel
    <header class="darkredclass">
        <div class="container">
            <h1 class="softredtext">Вход</h1>
        </div>

    </header>

    <div class="container text-center w-50">
        <form asp-action="Login" asp-controller="Users" asp-anti-forgery="true">
            <div>
                <div style="list-style:none;color:crimson" class="validation" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <input class="info-input" placeholder="Введите логин" type="text" asp-for="Login" />
                    <span style="color:red" class="darkredtext" asp-validation-for="Login" />
                </div>
                <div class="form-group">
                    <input class="info-input mt-2" placeholder="Введите пароль" asp-for="Password" />
                    <span style="color:red" class="darkredtext validation" asp-validation-for="Password" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Войти" class="btn darkred-btn mt-3" />
                </div>
            </div>
        </form>
        <a role="button" class="btn headerbtn mt-4" asp-action="Register" asp-controller="Users">Регистрация</a>
    </div>
        

    
   